
<section >
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-2xl font-normal tracking-tight leading-none md:text-3xl lg:text-4xl text-white">Estrenos</h1>
    </div>
</section>
